<div id="app">
	<ul>
		<li><i class="fas fa-home"></i></li>
		<li><i class="fas fa-history"></i></li>
		<li><%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    </li>
    <% end %>
	</ul>
</div>
