<div id="app" class="fixed-bottom">
	<ul class="list-footer">
		<li class="home"><i class="fas fa-home"></i></li>
		<li class="history"><i class="fas fa-history"></i></li>
		<li class="logout"><%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    </li>
    <% end %>
	</ul>
</div>
