<div class="cover">
  <div class="cover__content">
    <div class="top-section">

      <div class="content-preview">
        <h3 class="content-preview__title">About us</h3>
        <p class="content-preview__excerpt">Our goal at PfandMe is connecting people with their empty bottles. At PfandMe, we support making your home, office, or anything in between free of sticky bottles. Using PfandMe you will never have to take those heavy bottles to the grocery store again. All you have to do is make an appointment and someone will come to pick up your bottles at a designated time. We at PfandMe also support charities that help people in need. We support our community and the environment.</p>
      </div>

      <div class="content-preview">
        <p class="content-preview__excerpt">
        <ul class="list-social">
          <li class="list-social-item">
            <a href="http://www.facebook.com">
              <i class="fab fa-facebook-f icon"></i></a>
          </li>
          <li class="list-social-item">
            <a href="http://www.twitter.com">
              <i class="fab fa-twitter icon"></i></a>
          </li>
          <li class="list-social-item">
            <a href="http://www.linkedin.com">
              <i class="fab fa-linkedin-in icon"></i></a>
          </li>
        </ul>
      </p>
      </div>
    </div>

    <div class="lower-section">

      <div class="headline">
        <div class="line line--horizontal line--left"></div>
        <h2 class="boxed-headline">
          PfandMe
        </h2>
        <div class="line line--horizontal line--right"></div>
      </div>

      <div class="line line--vertical line--top"></div>
      <div class="line line--vertical line--bottom"></div>

      <div class="spacer"></div>
