<div class="cover">
  <div class="cover__content">
    <div class="top-section">
      <div class="title">
        <div class="title__details">
          <p><a>PfandMe🍾</a></p>
          <p>22.11.2021</p>
        </div>
      </div>
      <div class="top-section__content">

        <div class="content-preview">
          <h3 class="content-preview__title">Journal</h3>
          <p class="content-preview__excerpt">autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat ulla facilsilis at vero eros et accumsan et iusto.</p>
        </div>

        <div class="content-preview">
          <h3 class="content-preview__title">Fashion Model</h3>
          <p class="content-preview__excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio fugiat consequatur consectetur at, deleniti explicabo reprehenderit.</p>
        </div>
      </div>
    </div>

    <!-- TODO  -->
    <div class="logo">
      <div class="logo__circle">
        CP
      </div>
      <h2 class="logo__text">New session Buy</h2>
    </div>

    <div class="lower-section">

      <div class="headline">
        <div class="line line--horizontal line--left"></div>
        <h2 class="boxed-headline">
          PfandMe
        </h2>
        <div class="line line--horizontal line--right"></div>
      </div>

      <div class="line line--vertical line--top"></div>
      <div class="line line--vertical line--bottom"></div>

      <div class="spacer"></div>
