<% if @last_offer.present?  %>
  <%= @last_offer.timeslot %>
    <% if @last_offer.bookings.any? %>
      <% @last_offer.bookings.each do |booking| %>
        <% if booking.status == "accepted" %>
          <%= booking.user.story %>
          <%= booking.user.first_name %>
        <% end %>
      <% end %>
    <% else %>
      <h2>Your booking is still pending!</h2>
    <% end %>
<% end %>
