<div class="body-homepage">
  <h1>PfandMe</h1>
  <% if current_user && current_user.donor %>
    <h5>Get those pesky bottles out of your flat or office!</h5>
  <% else %>
    <form action="" class="form-page">
      <input type="search" id="searchfield" placeholder='Enter address' required>
      <i class="fa fa-search"></i>
    </form>
  <% end %>
</div>
