<div class="body-homepage">
  <div class="container">
    <div class="homepage-content">
      <h1>PfandMe</h1>
        <div class="homepage-slogan">
          <% if current_user && current_user.donor %>
            <h5>Get those pesky bottles out of your flat or office!</h5>
        </div>
            <div class="flex-dark">
            <%= link_to new_offer_path do %>
              <div class="btn btn-purple" >Create offer</div>
              <% end %>

          </div>
          <% else %>
            <form action="" class="form-page">
              <input type="search" id="searchfield" placeholder='Enter address' required>
              <%= link_to offers_path do %>
                <i class="fa fa-search"></i>
              <% end %>
            </form>
          <% end %>
    </div>
  </div>
</div>
