.card-offers {
  margin: 30px auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
}

.title {
  text-align: center;
}

.background-color {
  background: linear-gradient(45deg, #df2a4e, #3F5EFB);
}

.background-color-light {
  background: linear-gradient(91deg, rgba(223, 42, 78, 0.5), rgba(63, 94, 251, 0.5));
}


.background-color-light-box {
  background: linear-gradient(91deg, rgba(223, 42, 78, 0.5), rgba(63, 94, 251, 0.5));
  height: 100vh;
}


// }

// .card-product {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: center;
//   padding: 0;
//   width: 500px;
//   height: 470px;
// }

// .card-product img {
//   height: 300px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 16px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

// .img-box-card {
//   width: 100%;
// }

// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }


// .accept-btn:hover {
//   transform: scale(0.9, 0.9);
//   box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
//     -5px -5px 30px 15px rgba(0,0,0,0.22);
// }

.title {
  text-align: center;
  // background-color: rgb(245, 211, 245);
}

.background-color {
  background-color: rgb(253, 219, 244);
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 40px;
}

.card-offers svg{
  width: 30px;
}

.card-offers .fa-euro-sign {
  font-size: 22px;
}

#plastic-bottle {
  width: 40px;
  stroke-width: 3px;
  position: relative;
  left: -7px;
}

#glass-bottle {
  width: 40px;
  position: relative;
  left: -7px;
}

#name-title {
  font-size: 30px;
}
