.homepage-content {
  height: 90vh;
  padding: 150px 0px;
}

.homepage-slogan {
  padding: 150px 0px;
}

.offers-title {
  padding: 10px 0px;
  font-family: $body-font;
  size: 15px;
}


.history-h1 {
  padding-top: 10px;
  padding-bottom: 15px;
}
