#app {
	width: 350px;
	height: 50px;
	display: flex;
  justify-content: center;
  margin: auto;
	ul {
		position: relative;
		width: 350px;
		height: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		border-radius: 35px;
		background: rgba(255, 255, 255, 0.65);
		box-shadow:
			0 12.5px 10px rgba(0, 0, 0, 0.08),
			0 100px 80px rgba(0, 0, 0, 0.03)
			;
		overflow: hidden;
		li {
			list-style: none;
      text-decoration: none;
			display: grid;
			place-items: center;
			font-family: "montserrat";
			color: black !important;
			z-index: 10;
			cursor: pointer;
		}
		.focus-el {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100% / 3);
			height: 100%;
			border-radius: 35px;
			background: #fff;
			box-shadow:
				0 12.5px 10px rgba(0, 0, 0, 0.015),
				0 100px 80px rgba(0, 0, 0, 0.03)
				;

			&.el--2 {
				left: calc(-100% / 3);
			}
		}
	}
}
