#app {
	width: 350px;
	height: 50px;
	display: flex;
  justify-content: center;
  margin: auto;
	.list-footer {
    color: black !important;
		position: relative;
		width: 350px;
		height: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		border-radius: 35px;
		background: rgba(255, 255, 255, 0.65);
		box-shadow:
			0 12.5px 10px rgba(0, 0, 0, 0.08),
			0 100px 80px rgba(0, 0, 0, 0.03)
			;
		overflow: hidden;
		.home, .history, .logout {
      display: flex;
      justify-content: center;
			list-style: none;
      text-decoration: none;
			place-items: center;
			font-family: "montserrat";
			color: black !important;
			z-index: 10;
			cursor: pointer;
      margin-top: 10px;
		}
	}
}
.fa-sign-out-alt:before {
    color: black;
}
.fa-home:before {
    color: black;
}
.fa-history:before {
    color: black;
}
