.header h1 {
  /* margin: 20px; */
  font-family: 'Ranchers', cursive;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 50px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #b370a2,0 -2px 1px #fff;
  letter-spacing: 2px;
}

.top {
  display: flex;
  flex-direction: column;
}
