.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.user-avatar {
  background-image: url("https://www.w3schools.com/w3images/avatar2.png");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  border: 2px solid rgb(238, 237, 237);
  position: sticky;
  top: 0;
}


.top-spacer {
  height: 80px;
}
