// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/content";

// body {
//   background: linear-gradient(0deg, rgba(147, 69, 208, 0.4), rgba(147, 69, 208, 0.4)),url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
//   background-position-x: 48%;
//   background-size: 330%;
//   background-attachment: fixed;
// }
.image-hero-area {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
margin: 0;
background: linear-gradient(0deg, rgba(147, 69, 208, 0.4), rgba(147, 69, 208, 0.4)), url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
